<img src="images/bananas.png">
<h1>bunch</h1>

<% form_for @midpiont do |f| %>

  <%= f.label :address1 %>
  <%= f.text_field :address1 %>

  <%= f.label :address2 %>
  <%= f.text_field :address2 %>

  <%= f.submit 'Bunch us' %>
  
<% end %>
