<div class="form-container container">
  <%= form_tag(midpoints_path, class: "new_midpoint") do %>

  <div class="address-form input-group">
    <p><%= text_field_tag(:address_1, nil, class: "address form-control", placeholder: "Address 1") %></p>
    <%= hidden_field_tag 'full_address_1' %>
    <%= hidden_field_tag 'lat_1' %>
    <%= hidden_field_tag 'lng_1' %>
    
    <p><%= text_field_tag(:address_2, nil, class: "address form-control", placeholder: "Address 2") %></p>
    <%= hidden_field_tag 'full_address_2' %>
    <%= hidden_field_tag 'lat_2' %>
    <%= hidden_field_tag 'lng_2' %>
  </div>

  <a id='new-address-form' href='#'>+</a>
  <p><%= submit_tag "Bunch us!", class: 'bunch-submit' %></p>
  <% end %>


<script id='address_form_template' type='x-tmpl-mustache'>
  <p><input class="address form-control" id="address_{{ index }}" name="address_{{ index }}" type="text" placeholder="Address {{ index }}"></p>
  <input id="full_address_{{ index }}" name="full_address_{{ index }}" type="hidden">
  <input id="lat_{{ index }}" name="lat_{{ index }}" type="hidden">
  <input id="lng_{{ index }}" name="lng_{{ index }}" type="hidden"><br />
</script>

</div>