<%= form_tag(midpoints_path, class: "new_midpoint") do %>
	
	<%= submit_tag "Bunch us", class: 'bunch-submit' %>

	<%= label_tag(:address_1, "Address 1") %>
	<%= text_field_tag(:address_1, nil, class: "address") %>
	<%= hidden_field_tag 'full_address_1' %>
	<%= hidden_field_tag 'lat_1' %>
	<%= hidden_field_tag 'lng_1' %>
	
	<%= label_tag(:address_2, "Address 2") %>
	<%= text_field_tag(:address_2, nil, class: "address") %>
	<%= hidden_field_tag 'full_address_2' %>
	<%= hidden_field_tag 'lat_2' %>
	<%= hidden_field_tag 'lng_2' %>

<% end %>

<a id= 'add-address-form' href='#'>+</a>
<img src="images/bananas.png">
<h1>bunch</h1>

<script id='address_form_template' type='x-tmpl-mustache'>
	<label for="address_{{ index }}">Address {{ index }}</label>
	<input class="address" id="address_{{ index }}" name="address_{{ index }}" type="text">
	<input id="full_address_{{ index }}" name="full_address_{{ index }}" type="hidden">
	<input id="lat_{{ index }}" name="lat_{{ index }}" type="hidden">
	<input id="lng_{{ index }}" name="lng_{{ index }}" type="hidden">
</script>