<section class="background">

	<section id="main_map_holder">
		<figure id="main_map" class="map-css">

		</figure>
	</section>

	<div class="sidebar-wrapper">
		<aside class='sidebar'>
			<div id="content-container">

			  <header class='sidebar-header'>
			    <section class='logo-and-text'>
			      <a href="/" class="logo"><%= image_tag 'grapes_white.png', id:'grapes_logo' %>bunch</a>
			    </section>
			  </header>

			  <article class='sidebar-body'>
			    <%= render partial: 'venues/sidebar' %>     
			  </article>

			  <section id='map_data'>
					<var id='midpoint_id' ><%= @midpoint.id %></var>
				</section>

			  <footer class='sidebar-footer'>
			    <%= render partial: 'layouts/footer' %>
			 	 </footer>
			  
		  </div>
		</aside>
	</div>
	
	<!-- Modal placeholder 	-->
	<%= render partial: 'notifications/modal' %>

</section>

