<section class="background">

	<section id="main_map_holder">
		<figure id="main_map" class="map-css">

		</figure>
	</section>

	<section class="sidebar-wrapper">
		<aside class='sidebar'>
			<div id="content-container">

			  <header class='sidebar-header'>
			    <section class='logo-and-text'>
			      <a href="/" class="logo"><%= image_tag 'grapes_white.png', id:'grapes_logo' %>bunch</a>
			    </section>
			  </header>

			  <article class='sidebar-body'>
			    <%= render partial: 'venues/sidebar' %>     
			  </article>

			  <section id='map_data'>
					<var id='midpoint_id' ><%= @midpoint.id %></var>
				</section>

			  <footer class='sidebar-footer'>
			    <%= render partial: 'layouts/footer' %>
			 	 </footer>
			  
		  </div>
		</aside>
	</section>

	<section id="zoom-button-area">
			<button id="map-zoom-in" class="btn-lg zoom-button">Zoom in</button>
			<button id="map-zoom-out" class="btn-lg zoom-button active">Zoom out</button>
		</section>
	
	<!-- Modal placeholder 	-->
	<%= render partial: 'notifications/modal' %>

</section>