<article class='container'>
  <%= form_tag(midpoint_notifications_path, class: "new_notification") do %>

    <section class="notification-form">

      <%= text_field_tag("phone_numbers", nil, required: true, class: "form-control", placeholder: "Phone numbers") %>

      <%= text_field_tag("message", nil, required: true, class: "form-control", placeholder: "Your message...") %>

      <%= hidden_field_tag 'meetup_url', nil, id: 'meetup_url', value: @meetup_url %>

      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name='meetup_time' />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
    
    </section>
    
    <footer>    
      <p><%= submit_tag "Meet", class: 'btn btn-info notification-submit' %></p>
    </footer>
    
  <% end %>
</article>
