<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <title>bunch</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find restaurants, cafes, and bars at an equidistant location by travel time for a group of people by putting your addresses or postcodes into Bunch!">
    <meta name="author" content="Team Bunch @ Makers Academy">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta property="og:image" content='<%= image_url 'bunch-web-1.png' %>'>
    <meta property="og:image" content='<%= image_url 'bunch-web-2.png' %>'>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>  

  </body>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=<%= Rails.application.secrets.google_api_key %>"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
